.container {
  border: 1px solid black;
  margin-bottom: 100px;
  border-radius: 10px;
}

.container p {
  font-weight: bold;
}
.container p span {
  font-weight: 300;
}
.container img {
  border-radius: 10px;
}

.container .desc {
  display: flex;
  /* margin-left: 20px; */
}

.container p {
  margin-left: 20px;
}
.container p span {
  margin-left: 5px;
}

.container button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}


@media only screen and (max-width: 700px) {
  .container {
    margin-top: 10px;
  }
  .container .dynamicImage span {
    height: 60vh !important;    
  }
}
