.close_sidebar {
  display: none;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100vw;
  width: 20%;
}
.sidebar {
  display: block;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 120%;
  width: 25vw;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 10px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

@media only screen and (min-height: 200px) and (max-width: 700px) {
  .sidebar {
    width: 100vw;
  }
}
